* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans";
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

.wrap {
  max-width: 1280px;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}
.full-width--pink {
  background-color: #fff0ed;
}
.full-width--gray {
  background-color: #f7f7f7;
}
.full-width--white {
  background-color: white;
}

.icon {
  min-width: 2rem;
  max-width: 4rem;
}

/* buttons */
.dislodged-border {
  background: #5bacc3;
  color: white;
  font-family: sans-serif;
  padding: 0.5rem;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  height: 3.2rem;
  width: 10rem;
}
.dislodged-border:before {
  width: 10rem;
  border: 0.125rem solid #393939;
  content: "";
  height: 100%;
  position: absolute;
  bottom: 0.4063rem;
  right: 0.3125rem;
}
.dislodged-border:hover {
  background-color: #468a9c;
  border: 0.125rem solid #393939;
  padding-top: 0.8rem;
  transition: all 0.3s ease;
}
.dislodged-border:hover:before {
  display: none;
}

/* mobile responsive design */
@media screen and (min-width: 0px) and (max-width: 500px) {
  .logo {
    min-width: 1rem;
    max-width: 2.5rem;
  }
}
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: #fff0ed;
}
.nav-menu__logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: lowercase;
  color: #393939;
  border-radius: 0.1rem;
}
.nav-menu__logo a:hover {
  color: #5bacc3;
}
.nav-menu__pages {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-menu__list {
  display: flex;
  flex-direction: row;
}
.nav-menu__item {
  text-transform: uppercase;
  padding: 1rem;
}
.nav-menu__item a {
  color: #393939;
  border-radius: 0.1rem;
  font-size: 1.25rem;
  padding: 0.1rem;
}
.nav-menu__item a:hover {
  color: #5bacc3;
  text-decoration: underline;
}
.nav-menu__item:last-child a {
  color: #5bacc3;
}
.nav-menu__item:last-child a:hover {
  color: #393939;
  text-decoration: underline;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .nav-menu__list {
    padding-left: 0.3rem;
  }
  .nav-menu__item {
    padding: 1rem 0.5rem 0rem 0.5rem;
    margin: 0;
  }
  .nav-menu__item a {
    font-size: 0.7rem;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #fff0ed;
  padding: 3rem 0;
}
.footer__subtitle {
  padding: 0.6rem 0;
}
.footer__days {
  font-weight: 700;
}
.footer__social-pages {
  display: flex;
  flex-direction: row;
}
.footer__social-pages a {
  border-radius: 0.3rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
.footer__social-pages a:focus {
  outline: none;
  box-shadow: 0 0 0 0.125rem #468a9c;
}
.footer__social-pages a:hover {
  background-color: #5bacc3;
}
.footer__coffee-banner {
  display: flex;
  width: 6.25rem;
  background-image: url(../assets/logos/coffee-beans-footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__coffee-banner--left {
  position: relative;
  bottom: 2.5rem;
}
.footer__coffee-banner--right {
  position: relative;
  left: 0.1rem;
  top: 2.5rem;
}

/* responsive design */
/* mobile */
@media screen and (min-width: 0px) and (max-width: 600px) {
  .footer {
    flex-direction: column;
    padding: 1.6rem;
  }
}
.nav-nitro {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #fff0ed;
}
.nav-nitro__about {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
  padding: 1rem;
}
.nav-nitro__about * {
  margin: 0.7rem;
}
.nav-nitro__detail {
  width: 40%;
}
.nav-nitro__img {
  padding: 1.5rem;
}
.nav-nitro__img img {
  min-height: 5.625rem;
  max-height: 21.875rem;
}

/* nitro coffee section */
/* products section */
.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 2rem;
}
.products__title {
  text-align: center;
  margin: 1.5rem;
}
.products__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.products__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem;
  width: 25%;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.products__img {
  padding: 1.5rem;
}
.products__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff0ed;
  padding: 1.5rem;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
}
.products__description {
  padding: 0 0.2rem;
}
.products__subtitle {
  font-weight: 300;
  font-size: 1.6rem;
}
.products__qtd {
  font-weight: 400;
  font-size: 1rem;
  color: #909090;
}
.products__price {
  font-weight: 700;
  font-size: 2rem;
  color: #5bacc3;
}
.products__link {
  align-self: center;
  margin: 1.5rem;
}

/* we're different/history section  */
.nitro-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
}
.nitro-history__card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.nitro-history__details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 31.25rem;
  min-width: 20rem;
  margin: 1rem;
}
.nitro-history__details * {
  margin: 0.8rem 0;
}
.nitro-history__images {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.nitro-history__banner {
  min-width: 25rem;
  max-width: 25rem;
  background-image: url("../assets/images/coldbrewbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 0 2rem;
}
.nitro-history__banner--border {
  display: flex;
  border: 0.3125rem solid #5bacc3;
  padding: 1.25rem;
  min-width: 25rem;
  max-width: 37.5rem;
  height: 23.75rem;
  position: relative;
  right: 0.625rem;
  bottom: 0.625rem;
}
.nitro-history__banner--img {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-left: 28%;
}
.nitro-history__banner--img:hover {
  -webkit-animation: moveImg 2s infinite;
          animation: moveImg 2s infinite;
}

@-webkit-keyframes moveImg {
  50% {
    transform: rotate(360deg);
  }
}

@keyframes moveImg {
  50% {
    transform: rotate(360deg);
  }
}
.discount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem;
}
.discount__info {
  padding: 2rem;
  background-color: #393939;
  color: white;
  width: 80%;
  text-align: center;
  font-size: 1.875rem;
  -webkit-animation: moveBackground 2.5s ease alternate infinite;
          animation: moveBackground 2.5s ease alternate infinite;
}
.discount__code {
  font-weight: 700;
  text-shadow: 0.0938rem 0.0938rem #5bacc3;
}

@-webkit-keyframes moveBackground {
  0% {
    background-color: #393939;
  }
  50% {
    background-color: #5bacc3;
  }
  100% {
    background-color: #468a9c;
  }
}

@keyframes moveBackground {
  0% {
    background-color: #393939;
  }
  50% {
    background-color: #5bacc3;
  }
  100% {
    background-color: #468a9c;
  }
}
/* responsive design */
/* mobile */
@media screen and (min-width: 0px) and (max-width: 600px) {
  .nav-nitro__about {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .nav-nitro__detail {
    width: 100%;
  }
  .nav-nitro-nitro__img img {
    display: none;
  }

  .products__title {
    font-size: 2.5rem;
  }
  .products__list {
    flex-direction: column;
  }
  .products__item {
    width: 100%;
    margin: 1rem 0;
  }

  .nitro-history {
    margin: 0;
  }
  .nitro-history__card {
    flex-direction: column;
  }
  .nitro-history__details {
    width: 80%;
    margin: 3rem 0;
  }
  .nitro-history__banner {
    display: none;
  }
  .nitro-history__banner--border {
    display: none;
  }

  .discount {
    padding: 0 1rem 4rem 1rem;
  }

  .footer {
    flex-direction: column;
    padding: 1.6rem;
  }
}
/* tablet */
@media screen and (min-width: 601px) and (max-width: 1072px) {
  .products__list {
    flex-direction: column;
  }
  .products__item {
    width: 100%;
    margin: 1.5rem 0;
  }

  .nitro-history {
    margin: 3rem;
  }
  .nitro-history__banner {
    min-width: 20rem;
  }
  .nitro-history__banner--border {
    min-width: 20rem;
  }
}/*# sourceMappingURL=landing.css.map */