@use './variables' as *;
// image cover
@mixin cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

// image profile
@mixin image-profile($width, $height) {
    width: $width;
    height: $height;
    object-fit: cover;
    border-radius: 50%;
    background-color: $color-tertiary-dark;
}

// width and height
@mixin box($width: $width, $height) {
    width: $width;
    height: $height;
}

// borders
@mixin border-position($direction, $width, $style, $color) {
    border-#{$direction}: $width $style $color;
}

@mixin border-all($width, $style, $color) {
    border: $width $style $color;
}

// border bottom: hover, focus, and active navbar link
@mixin border-bottom ($color) {
    border-bottom-width: 0.3125rem;
    border-bottom-style: solid;
    border-bottom-color: $color;
}

// button default
@mixin button($width, $padding) {
    @extend %font-demi;
    width: $width;
    padding: $padding;
    background-color: $color-primary;
    color: $color-secondary;
    text-transform: uppercase;
    border-radius: 0.25rem;
    border: none;
}

// flexbox
@mixin flex ($flex-direction, $align-items, $justify-content) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin flex-default($align-items, $justify-content) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin flex-direction ($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
}

// larger displays
@mixin wrap ($max-width, $margin) {
    max-width: $max-width;
    margin: $margin;
}

@mixin full-width ($color) {
    width: 100%;
    background: $color;
}

// responsive design
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}