// colours base;
$color-primary: #323232;
$color-secondary: #FFFFFF;
$color-tertiary: #E1E1E1;
$linear-gradient: linear-gradient(rgb(165, 46, 123), rgb(80, 16, 80));
// colours darker;
$color-primary-dark: darken($color-primary, 1%);
$color-secondary-dark: darken($color-secondary, 1%);
$color-tertiary-dark: darken($color-tertiary, 1%);
// responsive design
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
//width
$width: 100%;
// larger displays
$max-width: 1280px;
$margin-center: 0 auto;