// colours
$black-primary: #323232;
$black-secondary: #000000;
$silver-primary: #AFAFAF;
$silver-secondary: #E1E1E1;
$white-primary: #FFFFFF;
$white-secondary: #FAFAFA;
// responsive design
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
//width
$width: 100%;
//larger displays
$max-width: 1280px;
$margin: 0 auto;