@use './partials/main' as *;
.hero {
    background-image: url('../assets/images/hero-bio.jpg');
    @include cover-background;
    height: 40vh;
    display: flex;
    padding: .5rem;
    &__about {
        @extend %header;
        align-self: center;
        margin: 1rem;
        color: $white-primary;
        letter-spacing: 2px;
    }
}

.about {
    @include flex-direction (column);
    margin: 2rem;
    * {
        padding: .3rem 0;
    }
    &__subtitle {
        @extend %font-demi;
    }
    &__quote {
        @extend %font-bold;
    }
}

.gallery {
    margin: 1rem;
    &__title {
        padding: .5rem 1rem;
    }
    &__images-list,
    &__img {
        padding: .5rem;
    }
}