@use './partials/main' as *;
.navbar {
    background-color: $black-primary;
    @include flex (column, center, center);
    width: 100%;
    &__img {
        @include box (100%, 4.5vh);
        margin: 2rem 0 0 0;
    }
    &__pages {
        width: 100%;
    }
    &__list {
        @include flex (row, flex-end, space-around);
        @extend %font-regular;
        position: relative;
        top: 16px;
    }
    &__item {
        width: 100%;
        text-align: center;
        padding: 0 0 1rem 0;
        border-bottom: 5px solid $black-primary;
        transition: all ease-in-out .2s;
        line-height: 32px;
        letter-spacing: 1px;
        &--active,
        &:hover,
        &:focus {
            border-bottom: 5px solid $white-primary;
            @extend %font-bold;
        }
    }
    &__link {
        color: $white-primary;
    }
}

.hero {
    background-image: url('../assets/images/hero-bio.jpg');
    @include cover-background;
    height: 40vh;
    display: flex;
    padding: .5rem;
    &__about {
        align-self: center;
        margin: 1rem;
        color: $white-primary;
        @extend %header;
        letter-spacing: 2px;
    }
}

.about {
    @include flex-direction (column);
    margin: 2rem;
    * {
        padding: .3rem 0;
    }
    &__subtitle {
        @extend %font-demi;
    }
    &__quote {
        @extend %font-bold;
    }
}

.gallery {
    margin: 1rem;
    &__title {
        padding: .5rem 1rem;
    }
    &__images-list,
    &__img {
        padding: .5rem;
    }
}

.footer {
    background-color: $black-primary;
    color: $white-primary;
    padding: 2rem;
    * {
        padding: .3rem 0;
    }
    &__social-media {
        @include flex-direction (column);
    }
    &__links {
        @include flex-direction (row);
    }
    &__link {
        padding: 1rem 1rem 1rem 0;
    }
    &__email {
        color: $white-primary;
    }
}