/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul,
li {
  list-style-type: none;
}

a,
a:visited {
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
html {
  font-family: "Avenir Next";
}

.navbar__list {
  font-weight: 400;
}

.about__subtitle, .footer__subtitle, .footer__position {
  font-weight: 600;
}

.about__quote, .navbar__item--active, .navbar__item:hover, .navbar__item:focus {
  font-weight: 700;
}

.hero__about, .about__title, .gallery__title, .footer__title {
  letter-spacing: 0.125rem;
  font-size: 1.6rem;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 2rem;
}
.footer * {
  padding: 0.3rem 0;
}
.footer__social-media {
  display: flex;
  flex-direction: column;
}
.footer__links {
  display: flex;
  flex-direction: row;
}
.footer__link {
  padding: 1rem 1rem 1rem 0;
  margin-right: 1.5rem;
}
.footer__email {
  color: #FFFFFF;
}
.footer__logo {
  margin: 2rem 0 0 0;
}

.navbar {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar__img {
  width: 100%;
  height: 4.5vh;
  margin: 2rem 0 0 0;
}
.navbar__pages {
  width: 100%;
}
.navbar__list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
  top: 16px;
  padding: 0;
}
.navbar__item {
  width: 100%;
  text-align: center;
  padding: 0 0 1rem 0;
  border-bottom: 5px solid #323232;
  transition: all ease-in-out 0.2s;
  line-height: 32px;
  letter-spacing: 1px;
}
.navbar__item--active, .navbar__item:hover, .navbar__item:focus {
  border-bottom: 5px solid #FFFFFF;
}
.navbar__link {
  color: #FFFFFF;
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  display: flex;
  padding: 0.5rem;
}
.hero__about {
  line-height: 2rem;
  align-self: center;
  margin: 1rem;
  color: #FFFFFF;
}

.about {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.about * {
  padding: 0.3rem 0;
}
.about__quote {
  text-align: left;
  margin: 1rem 0;
}
.about__text {
  margin: 1rem 0;
}

.gallery {
  margin: 1rem;
}
.gallery__title {
  padding: 0.5rem 1rem;
}
.gallery__images-list, .gallery__img {
  padding: 0.5rem;
}/*# sourceMappingURL=bio.css.map */