@use './partials/main' as *;
.hero {
    display: flex;
    background-image: url('./../assets/images/hero-shows.jpg');
    @include cover-background;
    @include box (100%,
    24vh);
    @extend %wrapper-mobile;
    @include tablet {
        height: 47vh;
        padding: 2rem;
    }
    @include desktop {
        height: 65vh;
        object-fit: cover;
        object-position: center;
        @include wrap($max-width,
        $margin-center);
    }
    &__title {
        align-self: center;
        color: $color-secondary;
        @include desktop {
            margin: 5rem;
        }
    }
    &__text {
        @extend %font-demi;
        @include tablet {
            font-size: 3.3rem;
        }
    }
}

.concerts {
    // padding: 2rem;
    display: flex;
    &__list {
        padding: 1rem;
    }
    &__cards {
        display: flex;
        padding: 0 0 1rem 0;
        margin: 0;
        border-bottom: $color-tertiary-darker solid 0.0625rem;
    }
    &__info {
        display: flex;
        padding: .5rem 0;
        @extend %font-demi;
        &--venue,
        &--location {
            @include tablet {
                align-self: flex-start;
            }
        }
        @include tablet {
            display: flex;
            flex-direction: row;
            padding: 1rem;
            justify-content: space-between;
            width: 100%;
            li {
                padding: 1.5rem 2rem 0 0;
            }
        }
    }
    &__label {
        color: grey;
        padding: 1rem 0 0 0;
        @extend %font-regular;
        @include tablet {
            display: none;
        }
    }
    &__button {
        @extend %font-demi;
        width: 100%;
        color: $color-secondary;
        text-transform: uppercase;
        background-color: $color-primary;
        border-radius: .5rem;
        padding: .5rem;
        margin: 1rem 0 0 0;
        @include tablet {
            width: 16%;
        }
        @include desktop {
            width: 35%;
        }
    }
}