@use './partials/main' as *;
.wrapper {
    &--hero {
        @include full-width($linear-gradient);
    }
    &--concerts {
        @include full-width($color-secondary);
    }
}

.hero {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../assets/images/hero-shows.jpg');
    @include cover-background;
    @include box (100%,
    24vh);
    @extend %wrapper-mobile;
    @include tablet {
        height: 47vh;
        padding: 2rem;
    }
    @include desktop {
        height: 65vh;
        object-fit: cover;
        object-position: center;
        @include wrap($max-width,
        $margin-center);
    }
    &__title {
        align-self: center;
        color: $color-secondary;
        @include desktop {
            margin: 5rem;
        }
    }
    &__text {
        @extend %font-demi;
        @include tablet {
            font-size: 3.3rem;
        }
    }
}

.concerts {
    @include desktop {
        @include wrap($max-width,
        $margin-center);
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    &__title {
        padding: 1rem 0 0 1rem;
        font-size: 2rem;
        @include tablet {
            padding: 2.6rem 0 0 2rem;
        }
        @include desktop {
            display: none;
        }
        &--desktop {
            display: none;
            @include desktop {
                display: flex;
                font-size: 3rem;
                padding: 1rem;
            }
        }
    }
    &__list {
        padding: 0 1rem;
        @include tablet {
            padding: 0 1rem;
        }
        @include desktop {
            width: 69%;
            padding: 3rem 1rem 3rem 3rem;
        }
    }
    &__cards {
        display: flex;
        flex-direction: column;
        padding: 0 0 1rem 0;
        margin: 0;
        border-bottom: $color-tertiary-darker solid 0.0625rem;
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5rem 1rem;
            li {
                padding: 1.5rem 0 0 0;
            }
        }
    }
    &__info {
        &--date,
        &--venue,
        &--location {
            @include tablet {
                display: grid;
                width: 8.8rem;
                grid-gap: 0.1rem;
            }
        }
    }
    &__label {
        color: grey;
        padding: 1rem 0 0 0;
        text-transform: uppercase;
        @extend %font-regular;
        @include tablet {
            display: none;
        }
        &--tabletAndDesktop {
            display: none;
            @include tablet {
                text-transform: uppercase;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 64.5%;
                color: $color-tertiary-darker;
                padding: 1.5rem 0 0 1rem;
                font-weight: 600;
            }
            @include desktop {
                padding: 1.5rem 0 1rem 1rem;
            }
        }
    }
    &__venue {
        padding-left: .5rem;
    }
    &__button {
        @extend %font-demi;
        width: 100%;
        color: $color-secondary;
        text-transform: uppercase;
        background-color: $color-primary;
        border-radius: .5rem;
        padding: .5rem;
        margin: 1rem 0 0 0;
        @include tablet {
            width: 100%;
            margin: 1rem;
        }
        @include tablet {
            width: 100%;
            margin: 1rem 1.5rem 1rem 0;
        }
    }
}

.selected {
    background-color: red;
}