:root {
    --white: #FFFFFF;
    --black: #000;
    --black-opacity: rgba(0, 0, 0, 0.2);
    --blue: #335576;
    --rose: #FEFAF5;
    --orange: #DB7A4E;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--blue);
    text-decoration: none;
}

h1 {
    font-size: 4rem;
    color: var(--white);
}

h2 {
    font-size: 3rem;
    color: var(--blue);
}

h3 {
    font-size: 1.5rem;
}


/* navigation bar */

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5rem;
    position: fixed;
    z-index: 10;
    top: 0;
    background-color: var(--white);
    color: var(--blue);
}

.nav-menu__logo h1 {
    font-size: 1.5rem;
}

.nav-menu__pages ul {
    display: flex;
    flex-direction: row;
}

.nav-menu__pages li {
    padding: 1rem;
}

.nav-menu__pages a {
    color: inherit;
}

.nav-menu__pages li:hover>a,
.nav-menu__pages li:active>a,
.current-page {
    border-bottom: 0.3125rem solid var(--orange);
    padding-bottom: 0.4375rem;
    list-style-type: underline;
}


/* footer */

.icon:not(.facebook) {
    width: 2rem;
}

.facebook {
    width: 1rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--rose);
    padding: 2rem;
    font-size: .7rem;
}

.footer h3 {
    color: var(--blue);
    padding: .5em 0 0 0;
}

.footer p:first-of-type {
    color: var(--orange);
    text-transform: uppercase;
}

.footer__contact,
.footer__hours,
.footer__social {
    padding: .5rem 0;
    color: var(--blue);
}

.footer__hours,
.footer__social {
    display: flex;
    flex-direction: row;
}

.footer__contact *,
.footer__hours * {
    padding: .5rem 1.5rem 0 0;
}

.footer__social a {
    padding: 2rem 2rem 0 0;
}


/* mobile responsive design */

@media screen and (min-width: 0px) and (max-width: 700px) {
    .nav-menu {
        padding: 0 1rem;
    }
    .nav-menu__logo h1 {
        font-size: 1rem;
    }
    .nav-menu__pages li {
        padding: .5rem;
    }
    .nav-menu__pages a {
        font-size: .7rem;
    }
    .footer,
    .footer__hours {
        flex-direction: column;
    }
    .footer {
        align-items: flex-start;
    }
    .footer__social a {
        padding: 1rem 1rem 0 0;
    }
}


/* tablet */

@media screen and (min-width: 601px) and (max-width: 1072px) {
    .nav-menu {
        padding: 0 4rem;
    }
}