@import url('../css/global.css');

/* hero  */

.nav-hero {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--rose);
    width: 100%;
    height: 40rem;
    padding: 5rem;
}

.nav-hero__about {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60%;
    color: var(--blue);
    text-align: left;
}

.nav-hero__about * {
    margin: .7rem;
}

.nav-hero__link {
    background-color: var(--orange);
    width: 25%;
    padding: .5rem;
    border-radius: 2rem;
    text-align: center;
}

.nav-hero__about a {
    color: var(--white);
}

.nav-hero__link:focus {
    outline: none;
    box-shadow: 0 0 0 0.1875rem var(--lightblue);
}

.nav-hero__link:hover {
    opacity: 0.8;
}

.nav-hero__img {
    align-self: center;
    margin: 3rem;
}

.nav-hero__img img {
    min-height: 8rem;
    max-height: 21.875rem;
}


/* recommendations */

.recommendations {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    color: var(--blue);
    margin: 5rem;
}

.recommendations__cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 2rem;
}

.recommendations__pic img {
    width: 100%;
    height: 28rem;
    border: 0.0625rem solid var(--black-opacity);
    border-radius: 0.3125rem;
    box-shadow: var(--box-shadow);
}

.recommendations__pic a {
    color: var(--white);
}

.recommendations__name {
    position: relative;
    left: 11.25rem;
    bottom: 3.125rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.recommendations__name:hover {
    color: var(--orange);
    text-shadow: var(--black-opacity) 0.1875rem 0.3125rem 0.125rem;
}


/* responsive design */


/* mobile */

@media screen and (min-width: 0px) and (max-width: 600px) {
    .nav-hero {
        padding: 1rem;
        height: 43rem;
        justify-content: flex-start;
    }
    .nav-hero__img {
        display: none;
    }
    .nav-hero__title {
        font-size: 2rem;
    }
    .nav-hero__link {
        width: 55%;
        font-size: .8rem;
    }
    .recommendations {
        margin: 2rem 1rem;
        align-items: left;
        justify-content: center;
    }
    .recommendations__cards {
        flex-direction: column;
        margin: 2rem 0;
    }
    .recommendations__pic img {
        height: 23rem;
    }
    .recommendations__name {
        font-size: 1rem;
        left: 10rem;
        bottom: 2.5rem;
    }
}


/* tablet */

@media screen and (min-width: 601px) and (max-width: 1072px) {
    .nav-hero {
        padding: 3rem;
        height: 50rem;
    }
    .nav-hero__about a {
        width: 40%;
        font-size: .8rem;
    }
    .recommendations {
        margin: 2rem;
        align-items: left;
        justify-content: center;
    }
    .recommendations__cards {
        margin: 1rem 2rem 0 0;
        width: 100%;
    }
    .recommendations__pic img {
        height: 23rem;
    }
    .recommendations__name {
        font-size: 1rem;
        left: 10rem;
        bottom: 2.5rem;
    }
}