@use './../variables' as *;
@use './../mixins' as *;
@use './../placeholders' as *;
@use './../typography' as *;
.footer {
    background-color: $black-primary;
    color: $white-primary;
    padding: 2rem;
    * {
        padding: .3rem 0;
    }
    &__title {
        letter-spacing: 2px;
    }
    &__social-media {
        @include flex-direction (column);
    }
    &__links {
        @include flex-direction (row);
    }
    &__link {
        padding: 1rem 1rem 1rem 0;
    }
    &__email {
        color: $white-primary;
    }
}