@use './../variables' as *;
@use './../mixins' as *;
@use './../typography' as *;
@use './../placeholders' as *;
.footer {
    background-color: $black-primary;
    color: $white-primary;
    padding: 1rem 1rem 0 1rem;
    @include tablet {
        @include flex (row, flex-start, space-between);
        padding: 1rem 2rem;
    }
    @include desktop {
        padding: 1rem 8rem;
    }
    * {
        padding: .4rem 0;
    }
    &__content {
        @include tablet {
            width: 100%;
            @include flex (column, flex-start, flex-start);
        }
    }
    &__social {
        display: flex;
        width: 100%;
        @include flex-direction (column);
        @include tablet {
            @include flex (row, center, space-between);
        }
    }
    &__medias {
        @include tablet {
            @include flex (row, center, space-between);
        }
    }
    &__title {
        padding: 0;
        font-size: 1.6rem;
        @extend %title;
        @include tablet {
            font-size: 2.2rem;
            margin-right: 1.5rem;
        }
    }
    &__links {
        padding: 0;
        @include flex-direction (row);
        @include tablet {
            padding-left: .3rem;
        }
        @include desktop {
            padding: .5rem;
        }
    }
    &__link {
        padding: 0 .5rem 0 0;
        &--mobile {
            @include tablet {
                display: none;
            }
            @include desktop {
                display: none;
            }
        }
        &--desktop {
            @include desktop {
                display: flex;
            }
        }
    }
    &__icon {
        margin: 0 1.5rem 0 0;
        height: 2.3rem;
    }
    &__contacts {
        font-size: .8rem;
        @include tablet {
            @include flex (row, center, flex-start);
            width: 100%;
        }
    }
    &__info {
        @include tablet {
            padding-right: 2rem;
        }
    }
    &__address {
        padding: 0;
    }
    &__subtitle,
    &__position {
        padding: 0;
        @extend %font-demi;
        @include tablet {
            font-size: .9rem;
        }
    }
    &__email {
        color: $white-primary;
    }
    &__copy {
        font-size: .7rem;
    }
    // logo
    &__logo {
        &--mobile {
            margin: 2rem 0 0 0;
            @include tablet {
                margin: 0;
            }
        }
        &--tablet {
            display: none;
            padding: .5rem;
            @include tablet {
                display: flex;
                padding: .5rem 0 .5rem 1.5rem;
            }
            @include desktop {
                display: none;
            }
        }
        &--desktop {
            display: none;
            @include desktop {
                display: flex;
                padding: 1.5rem .9rem 0 0;
            }
        }
    }
}