@use './../variables' as *;
@use './../mixins' as *;
@use './../typography' as *;
.navbar {
    background-color: $black-primary;
    @include flex (column, center, center);
    @include tablet {
        @include flex(row, center, flex-end);
    }
    &__img {
        @include box ($width, 2.8vh);
        margin: 1rem 0 0 0;
        @include tablet {
            margin: 0 2rem;
        }
        @include desktop {
            @include box ($width, 2.3vh);
            margin: 0 4.5rem;
        }
    }
    &__pages {
        width: $width;
    }
    &__list {
        @include flex (row, flex-end, space-around);
        @extend %font-regular;
        position: relative;
        top: .5rem;
        padding: 0;
        margin: .3rem 0;
        @include tablet {
            justify-content: left;
            padding: .5rem 0 0 4rem;
            margin: .5rem 0;
        }
    }
    &__item {
        width: $width;
        text-align: center;
        padding: 0rem 0 .5rem 0;
        transition: all ease-in-out .2s;
        font-size: 1rem;
        @include border-bottom($black-primary);
        @include tablet {
            padding: 0 0 1rem 0;
            margin: 0 1rem;
            width: 6.2rem;
        }
        @include desktop {
            width: 5.5rem;
            margin: 0 .4rem;
        }
        &--active,
        &:hover,
        &:focus {
            @include border-bottom($white-primary);
            @extend %font-bold;
        }
    }
    &__link {
        color: $white-primary;
    }
}