@import url('../css/global.css');
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu__title {
    display: flex;
    justify-content: center;
    min-width: 100%;
    max-width: 100%;
    min-height: 23rem;
    background-position: center;
    background-image: url('../assets/coffee-circle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__title h1 {
    align-self: center;
    color: var(--brown);
    text-shadow: 0.125rem 0.125rem 0.125rem var(--light-brown);
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 3rem;
    min-height: 6rem;
    max-height: 10rem;
}

.menu__options {
    color: var(--white);
    background-color: var(--graphite);
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    min-width: 100%;
    max-width: 100%;
}

.menu__options ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.menu__options a {
    padding: 0 1rem;
}

.menu__options a:hover {
    color: var(--nitro-blue);
}

.menu__options ul,
.menu__options a {
    color: var(--white);
}

.vertical-line {
    display: flex;
    background-color: var(--nitro-blue);
    border: 0.0938rem solid var(--nitro-blue);
    height: 1.4375rem;
}

main section:nth-child(odd) {
    background-color: var(--nitro-pink);
}

main section:nth-child(2) {
    background-color: var(--light-gray);
}

.drinks * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
}

.drinks h2 {
    font-size: 3.75rem;
    padding: 1rem 0;
}

.drinks div:first-child {
    font-size: 2.0625rem;
    font-weight: 300;
    padding: 1rem 0;
}

.drinks div p:nth-of-type(1) {
    font-style: italic;
    font-weight: lighter;
    font-size: 1rem;
    width: 50%;
    padding: .5rem 0 0 0;
}

.drinks div p:nth-of-type(2) {
    color: var(--nitro-blue);
    font-weight: 400;
    padding: .5rem 0 1.8rem 0;
}


/* mobile responsive design */

@media screen and (min-width: 0px) and (max-width: 600px) {
    .menu__options a {
        padding: 0 .5rem;
    }
}