@use 'variables' as *;
//wrapper paddings
%wrapper-mobile {
    padding: 1rem;
}

%content-mobile {
    padding: .5rem 0;
}

%wrapper-tablet {
    padding: 0 2rem;
}

%wrapper-desktop {
    padding: 0 4rem;
}