$open-sans: 'Open Sans';
$nitro-blue: rgb(91, 172, 195);
$nitro-blue-darker: rgb(70, 138, 156);
$nitro-pink: rgb(255, 240, 237);
$graphite: rgb(57, 57, 57);
$gray: rgb(144, 144, 144);
$light-gray: rgb(247, 247, 247);
$white: rgb(255, 255, 255);
$black-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
